<!-- About Section -->
<section id="expertise">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 text-center">
            <img class="img-responsive" src="img/profile.jpg" style="width: 30%; margin-left: auto; margin-right: auto;" alt="profile-pic"/>
            <div style="height: 20px"></div>

            <h2>About Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <br>
        <p>
            My name is <b>Michael Winkelmann</b> and I am software engineer. 
        </p>
        <p>
            Since 2023, I work as an <b>independent software consultant</b> to help customer to succeed with their software solutions. With a background in computer graphics and image process and my diverse skill set encompassing project management to software architecture and a proven track record in developing user interfaces, I bring a holistic approach to software development.
        </p>
        <p>
            My main expertise is <b>developing user interfaces</b> for embedded and desktop software with the <a href="https://contribute.qt-project.org/">Qt framework</a>. In 2012, I built my first user interface with Qt while studying Computer Graphics at TU Berlin.
        </p>
        <p>
            For 7 years, I was working for <a href="https:///www.qt.io"></a>The Qt Company</a> as Principal Software Engineer and Advisor.
            During my time at Qt, I helped <b>dozens of customers from different industries</b> and was able to gain deep insights into the framework.
        <p>
            Like Qt, I work <b>cross-platform</b>: I have developed software for Linux, Windows, MacOS and micro-controllers and I am not shy to code on other platforms.
            Besides my Qt background, I also have used <a href="https://vuejs.org/">VueJS</a> and the <a href="https://slint.dev/">Slint</a> framework for implementing user interfaces.
        </p>
        <p>
            Feel free to click if you want to know more about my background:
        </p>
        </div>

        </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <a href="../assets/cv.pdf" class="btn btn-success btn-lg">
            <i class="fa fa-download"></i> Download CV
          </a>

          <a href="../assets/references.pdf" class="btn btn-success btn-lg">
            <i class="fa fa-download"></i> References
          </a>

        </div>
        <div style="height: 20px"></div>

          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">

                <a href="https://github.com/WilstonOreo" class="btn btn-success btn-lg">
                    Github Profile
                  </a>
          <a href="https://www.shadertoy.com/user/WilstonOreo" class="btn btn-success btn-lg">
            ShaderToy
          </a>
          <a href="https://vimeo.com/167266452" class="btn btn-success btn-lg">
            Omnidome
          </a>

          <a href="https://www.youtube.com/playlist?list=PLJw4JLHY8_lYVLU4gtHDYU1vrzDX8VE22" class="btn btn-success btn-lg">
            Winkelmann TechTalk
          </a>

            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-center">

        </div>
      </div>
    </div>
</section>
  