<!-- About Section -->
<section id="expertise">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
        <br>
        <p>
            My name is <b>Michael Winkelmann</b> and software is my passion. Since 2023, I work as an <b>independent software consultant</b> to help customer to succeed with their software solutions. With a diverse skill set encompassing Human-Machine Interface (HMI) programming, computer graphics, and a proven track record in project management, I bring a holistic approach to software development.
        </p>
        <p>
            My main expertise is developing user interfaces for embedded and desktop software with the <a href="https://contribute.qt-project.org/">Qt framework</a>. In 2012, I built my first user interface when studying Computer Graphics at TU Berlin.
        </p>
        <p>
            For 7 years, I was working for the <a href="https:///www.qt.io"></a>Qt Company</a> as Software Developer and Consultant.
            During my time at Qt, I helped dozens of customers from various sectors and was able to gain deep insights into the framework.
            Besides my Qt background, I also have used VueJS and the Slint framework for implementing user interfaces. I have developed software for Linux, Windows, MacOS and micro-controllers and I am not shy to code on other platforms.
        </p>
        <p>
            I have gathered deep knowledge about 3D graphics, image processing, rapid manufacting and software project management over the years. 
            Feel free to download my CV and references below if you want to know more about my background.
        </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="../assets/cv.pdf" class="btn btn-success btn-lg">
            <i class="fa fa-download"></i> Download CV
          </a>

          <a href="../assets/references.pdf" class="btn btn-success btn-lg">
            <i class="fa fa-download"></i> References
          </a>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-center">

        </div>
      </div>
      <div class="row">
        <h3>Languages</h3>
        <div class="col-lg-2 col-lg-offset-2">
            <h4>C++</h4>
            <img class="img-responsive" src="img/expertise/cpp.png" style="width: 100%"/>
        </div>
        <div class="col-lg-2">
            <h4>Rust</h4>
            <img class="im-responsive" src="img/expertise/rust.webp" style="width: 100%"/>
        </div>
        <div class="col-lg-2">
            <h4>Python</h4>
            <img class="img-responsive" src="img/expertise/python.png" style="width: 100%"/>
        </div>
        <div class="col-lg-2">
            <h4>TypeScript</h4>
            <img class="img-responsive" src="img/expertise/typescript.png" style="width: 100%"/>
        </div>
      </div>
      <div class="row">
        <h3>Frameworks</h3>
        <div class="col-lg-2 col-lg-offset-2">
            <img class="img-responsive" src="img/expertise/qt.png" style="width: 100%"/>
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="img/expertise/slint.png" style="width: 100%"/>
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="img/expertise/vuejs.png" style="width: 100%"/>
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="img/expertise/opengl.png" style="width: 100%"/>
        </div>
      </div>

    </div>
</section>
  