<!-- Portfolio Grid Section -->
<section class="success" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Development Support</h3>
        <p>I support you with your software solution at every stage of the lifecycle.
          Support can come in the form of hands-on implementations, code reviews or workshops.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Customized solutions</h3>
        <p>No two businesses are alike, and neither should their software solutions be. 
          I craft bespoke programs tailored to your specific needs, ensuring seamless integration with your existing processes.
          Your vision is at the forefront of our collaboration. 
          Through open communication and a collaborative mindset, I work closely with you to understand your goals and deliver solutions that surpass expectations.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Trainings</h3>
        <p>
          I offer trainings to my fields of expertise, particularly Qt and C++. 
          I bring real-world experience to the training room, offering valuable insights and practical tips that go beyond online documentation and textbooks.
        </p>
        </div>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Workshops</h3>
        <p>
          Learning by doing is at the core of my workshops. 
          During the workshops, we develop MVPs together or doing an in-depth analysis of specific technical topic.
          My training and workshop programs are available in flexible formats, including on-site sessions, virtual training, and ongoing support, allowing your team to learn at their own pace and convenience.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Project Management</h3>
        <p>I leverage my extensive experience in project management to ensure that your software initiatives are not 
          just technically sound but also seamlessly executed. From conceptualization to delivery,
          I orchestrate projects with a keen eye on timelines and strategic alignment,
          ensuring your software projects not only meet but exceed expectations.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Code Audits</h3>
        <p>In addition to our training and workshop offerings, we provide in-depth code audit services to ensure the highest standards of quality and security in your software projects. 
          I will meticulously review your codebase, identifying potential vulnerabilities, optimizing performance bottlenecks, and ensuring adherence to industry best practices.
          We can discuss the findings of the audit in a workshop, and I deliver the audit results as pull request or as detailed audit report - whatever is required. 
        </p>
      </div>
    </div>


  </div>
</section>
