<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include navigation.html %}

    <div>
      <div style="height: 80px">
      </div>
    {% if page.url =='/' %}
      {% include about.html %}
    {% endif %}

    {% if page.url contains '/blog' %}
      {% include blog.html %}
    {% endif %}

    {% if page.url contains '/photos' %}
      {% include photos.html %}
    {% endif %}

    {% if page.url contains '/contact' %}
      {% include contact_static.html %}
    {% endif %}

    {% if page.url contains '/legal' %}
      {% include legal.html %}
    {% endif %}
  </div>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
